@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 600px;
  margin: auto;
}

:root{
  --primary-color: #e9682c;
}

.container{
  display: flex;
  flex-direction: column;
}

.container-t {
display: flex;
}

.components {
  display: flex;
  flex-direction: column;
}

.anchor-tag{
  background-color: var(--primary-color);
  margin: 0.5rem;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color:white;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 15px;
    max-width: 350px;
    margin: auto;
  }
}

